:root {
    --color-principal: #EAF2FD;
    --color-secundario: #464646;
    --color-terciario: #FFFFFF;
    --color-fondo: #F5F5F5;
}

html{
    background-color: var(--color-fondo);
    color: var(--color-secundario);
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a{
    text-decoration: none;
    color: var(--color-secundario);
}

h4{
    margin-block-start: 1em;
    margin-block-end: 0em;
}

h6{
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-weight: lighter;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-fondo);
    margin-bottom: 20px;
}

.header-nav-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.icono {
    width: 2em;
    height: 2em;
    margin-right: 0.5em;
}

.presentation{
    display: flex;
    flex-direction: row-reverse;
}

.presentation-image{
    width: 350px;
}

.presentation-text-title{
    font-size: 50px;
}

.about{
    margin: 0px -6.7px -6.7px -6.7px;
    padding: 5px 16px 5px 16px;
    background-color: var(--color-principal);
}

.skills{
    text-align: center;
}

.skills-list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: left;
    padding-left: 80px;
}

.skills-list li{
    background-color: var(--color-terciario);
    width: 170px;
    height: 170px;
}

.hobbies{
    text-align: center;
}

.hobbies-list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: left;
    padding-left: 80px;
}

.hobbies-list li {
    background-color: var(--color-terciario);
    width: 170px;
    height: 170px;
}

.education{
    background-color: var(--color-principal);
    padding: 5px 16px 5px 16px;
    text-align: center;
}

.education-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: left;
    padding-left: 70px;
}

.education-list li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 368px;
    
}

.education-list-element{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-terciario);
    height: 286px;
}

.education-list-element img {
    width: 100px;
    height: auto;
}

.projects{
    margin: 0px -6.7px -6.7px -6.7px;
    padding: 5px 16px 5px 16px;
    text-align: center;
}

.projects-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding-left: 0px;
}

.projects-list-impar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.projects-list-impar .projects-list-element-2 {
    margin-left: 10px;
}

.projects-list-par {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    width: 100%;
}

.projects-list-par .projects-list-element {
    margin-left: 10px;
}

.projects-list-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 280px;
    overflow: hidden;
}

.projects-list-element-2{
    text-align: left;
}

.projects-list-element img {
    width: 100%;
    height: auto;
    max-width: 500px;
}

.contact{
    background-color: var(--color-principal);
    margin: 0px -6.7px -6.7px -6.7px;
    padding: 5px 16px 5px 16px;
    display: flex;
}

.contact-text{
    width: 100vh;
    padding-left: 10px;
}

.contact-form{
    display: flex;
    flex-direction: column;
}

.contact-form-element{
    margin: 10px 20px;
    min-height: 32px;
 }

.btn{
    background-color: #007BFF;
    color: var(--color-terciario);
    width: 133px;
    height: 40px;
    border: 0px;
    cursor: pointer;
}

.btn-secundario{
    background-color: var(--color-fondo);
    color: #007BFF;
    width: 133px;
    height: 40px;
    border: 1px solid #007BFF;
    cursor: pointer;
}

.contact-form-botonera button{
    margin: 10px 0px 20px 20px;
}

.footer{
    text-align: center;
    background-color: var(--color-terciario);
    display: flex;
    flex-flow: column wrap;
    margin: 0px -6.7px -5px -6.7px;
    padding: 5px 16px 5px 16px;
}

.footer-develop{
    margin-bottom: -10px;
}

@media (max-width: 800px) {
    .header-nav-list {
        display: none;
    }

    .presentation {
        flex-direction: row-reverse;
    }
    
    .presentation-image {
        width: 150px;
    }

    .presentation-text-title {
        font-size: 1.5em;
    }

    .skills-list {
        justify-content: left;
        padding-left: 30px;
    }
    
    .skills-list li {
        width: 220px;
        height: 100px;
    }

    .hobbies-list {
        display: flex;
        justify-content: left;
        padding-left: 30px;
    }

    .hobbies-list li {
        width: 220px;
        height: 100px;
    }

    .projects-list li {
        flex-direction: column;
    }

    .projects-list-element {
        height: 300px;
    }

    .projects-list-element img {
        max-width: 700px;
    }

    .education-list {
        display: flex;
        justify-content: left;
        padding-left: 10px;
    }

    .education-list-element {
        height: 100px;
    }

    .education-list li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 220px
    }

    .contact-text {
        padding-left: 0px;
    }

    .contact-image {
        display: none;
    }
}

@media (max-width: 480px) {
    .header-nav-list {
        display: none;
    }

    .presentation {
        flex-direction: column;
    }

    .presentation-image {
        width: 100px;
    }

    .presentation-text-title {
        font-size: 1.5em;
    }

    .skills-list {
        justify-content: center;
        padding-left: 0px;
    }

    .skills-list li {
        width: 150px;
        height: 100px;
    }

    .hobbies-list {
        justify-content: center;
        padding-left: 0px;
    }

    .hobbies-list li {
        width: 150px;
        height: 100px;
    }

    .projects-list li{
        flex-direction: column;
    }

    .projects-list-element {
        height: 300px;
    }

    .projects-list-element img {
        max-width: 700px;
    }

    .education-list-element {
        height: 100px;
    }

    .education-list li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    .contact-text {
        padding-left: 0px;
    }

    .contact-image{
        display: none;
    }

}